

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.pokemon-card {
  background-color: white;
  border: 4px solid #333;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  cursor: pointer;
}

.pokemon-card:hover {
  transform: translateY(-5px);
  background-color: #fffacd;
}

.pokemon-card img {
  width: 160px;
  image-rendering: pixelated;
}

.pokemon-card h3 {
  margin: 10px 0 0;
  text-transform: capitalize;
  font-size: 14px;
  color: #333;
}

.pokemon-card p {
  color: #888;
  font-size: 10px;
}

.back-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  text-align: center;
}

.search-bar {
  padding: 10px;
  font-family: 'Press Start 2P', cursive; 
  margin-bottom: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: 4px solid #333;
  border-radius: 5px;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}