footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    margin-top: 40px;
    font-size: 10px;
    border-top: 6px solid #333;
    box-shadow: inset 0 4px 0px rgba(0,0,0,0.2);

}

