nav {
  background-color: #33333374;
  border-bottom: 4px solid #000;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: #c0c0c0;
  background-color: #555;
  padding: 10px 20px;
  margin: 0 10px;
  border-top: 4px solid #777;
  border-left: 4px solid #777;
  border-right: 4px solid #222;
  border-bottom: 4px solid #222;

  text-transform: uppercase;
  transition: all 0.1s;
}
nav a:hover {
  background-color: #666;
  border-top: 4px solid #222;
  border-left: 4px solid #222;
  border-right: 4px solid #777;
  border-bottom: 4px solid #777;
  color: #fff;
}
