body {
  font-family: "Press Start 2P", cursive;
  font-size: 25px;
  margin: 0;
  padding: 0;
  background-color: #d0d0d0;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}
